.parallax-content {
	padding: 0 10px;
	margin: auto;
	text-align: center;
	display: table;

	border-width: 0.1em;
	border-color: white;
	border-style: none none solid none;
}

.parallax-content h1 {
	font-size: 5em;
	color: white;
	display: table-cell;
    vertical-align: middle;
}

.custom-background-body {
	background-size: 2000px;
	background-image: url('/images/pattern1.jpg');
    background-repeat: repeat;
}

.custom-background-scroll {
	background-size: 150px;
	background-image: url('/images/pattern1.jpg');
    background-repeat: repeat;
}

.horizontal-scroll {
	overflow: auto;
	white-space: nowrap;
	border-color: gray;
	border-style: solid;
	padding: 25px;
	border-width: 0.1em;
	border-radius: 5px;
}

.image-border {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

.margin-right-landscape {
	margin-right: 1em;
}

.margin-right-portrait {
	margin-right: 3em;
}

.project-desc-font {
	font-family: 'Open Sans', sans-serif;
}

.project-title-font {
	font-family: 'Patua One', cursive;
}

.description-animation.ng-enter {
	-webkit-transition: 1.5s linear all;
  	transition: 0.75s linear all;

  	opacity: 0;
}

.description-animation.ng-enter.ng-enter-active {
	opacity: 1;
}

.parallax {
    background-image: url('/images/landscape_1.jpg');

    min-height: 35em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 12em 0;
}

.parallax-two {
    background-image: url('/images/landscape_1.jpg');

    min-height: 15em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 12em 0;
}

.parallax-three {
    background-image: url('/images/landscape_3.jpg');

    min-height: 15em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 12em 0;
}

.tab-border-active {
	border-color: #159db5;
	border-style: dashed;
	border-width: 0.15em;
}
