<ul class="custom-navbar">
	<li><a href="" ng-click="intro.scrollDown()">Contact</a></li>
	<li><a href="#!projects">Project</a></li>
	<li href="#/" class="custom-active"><a>Introduction</a></li>
</ul>

<div class="parallax">
	<div class="parallax-content">
		<h1 class="project-desc-font">Vinh Vu</h1>
	</div>
</div>
<div>
<br /><br />
<div class="container">
	<h2 class="text-center">About Me</h2>
	<br />
	<p>Hello, and welcome! My name is Vinh Vu as I am sure you must have realized from the website. I graduated from California State University, San Marcos in May of 2017 with a bachelor in Computer Science. I have worked on many different projects with various different tools which are here for you to take a look at. I am constantly looking for new projects to work on in order to improve myself in this ever-changing field. As of late, my interest lies in Machine Learning. I will be working at Northrop Grumman as a software engineer in April. </p>
	<p>Besides coding most of my days, I spend a lot of time reading, and exercising. My favorite place is the library and you will often find me there when I have free time. Psychological thriller, and horror are my favorite genre to read even though I am unable to sit through horror movies. I am always looking for recommendations for new books to read. I try to hike at least once a month which helps to clear my head and realize that there is a world outside of my computer.</p>
</div>
<br /><br />
</div>
<div class="parallax-two"></div>

<contact></contact>